# Archivos compilados de Python
pycache/
*.pyc
*.pyo
*.pyd
*.spec

# Entornos Virtuales
venv/
env/
.venv/

# Archivos de configuración sensible
.env

# Archivos de credenciales y tokens de google
client_secret.json
youtube_token.pickle

# Configuraciones y Datos de la Aplicación
*.db
*.db-journal
*.pickle
twitch_tokens.json
kick_config.json

# Logs y Archivos Temporales
.pytest_cache/
report.html
report.xml

# Archivos del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/